@import url('./board.css');

/* Players styles */
.player {
    flex: 1;
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-blue-light);
    background-color: var(--primary-blue);
}

.player__image {
    min-width: 0;
    max-width: 100%;
    aspect-ratio: 1;
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid var(--text-blue);
    border-radius: 50%;
}

.player__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Versus styles */
.versus[open] {
    --transition-duration: 0.5s;
    max-width: 34rem;
    width: 80%;
    padding: 0;
    border: 1px solid var(--text-blue);
    outline-style: none;
    border-radius: 10px;
    background-color: var(--secondary-blue);
    position: fixed;
    z-index: 15;
    top: -15%;
    opacity: 1;
    transition: opacity var(--transition-duration) ease-in-out, top var(--transition-duration) ease-in-out;

    @starting-style {
        top: 15%;
        opacity: 0;
    }
}

.versus[open]::backdrop {
    background-color: #000000CC;
    transition: background-color var(--transition-duration) ease-in-out;

    @starting-style {
        background-color: transparent;
    }
}

.versus--close {
    animation: versus-fade-out 0.75s ease-in-out;
}

.versus__content {
    width: 100%;
    padding: 1rem 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2rem;
}

.versus__logo {
    max-width: 100%;
    min-width: 0;
    width: 8rem;
    height: 8rem;
}

.versus__players {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Game styles */
.game {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.game__aside {
    flex: 1;
    padding: 1rem;
    background-color: var(--background-secondary);
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
}

.game__title {
    text-align: center;
    text-transform: uppercase;
}

.game__players {
    width: 100%;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.game__vs {
    font-weight: bold;
    color: var(--text-red);
    text-transform: uppercase;
}

.game__main {
    flex: 2;
    padding: 1.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@keyframes versus-fade-out {
    from {
        scale: 1;
        opacity: 1;
    }

    to {
        scale: 1.5;
        opacity: 0;
    }
}