/* Variables */
:root {
    --background-primary: #00061A;
    --background-secondary: #00132F;
    --primary-blue: #042C4E;
    --primary-red: #A31400;
    --text-primary: #03B4DF;
    --text-blue: #15BAD3;
    --text-red: #F7AB00;
    --small-screen: 22rem;
    --medium-screen: 42rem;
    --large-screen: 66rem;
}

/* Font load */
@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow-BoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: bold;
}

/* Personal css reset and configuration */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: var(--background-primary);
    font-family: 'Barlow';
    color: var(--text-primary);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}