/* Page styles */
.page {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Header styles */
.header {
    grid-row: 1/2;
    width: 100%;
    padding: 1.2rem 1.5rem;
    background-color: var(--background-secondary);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1.5rem;
}

/*--Sections--*/
.header__sections {
    flex: 3;
    height: 3.5rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.2rem;
}

.header__section {
    height: 100%;
    padding-inline: 1rem;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    color: var(--text-blue);
    text-decoration: none;
}

.header__section:hover:not(.header__section--active) {
    background-color: var(--background-primary);
}

.header__section--active {
    border-top: 1px solid var(--text-red);
    border-bottom: 1px solid var(--text-red);
}

.header__section-p {
    display: none;
}

/*--Menus--*/
.header__menus {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}

.header__menu, .header__menu-anchor {
    width: 1.5rem;
    height: 1.5rem;
    border-style: none;
    position: relative;
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-blue);
}

.header__menu::before, .header__menu-anchor::before {
    content: "";
    width: 150%;
    height: 150%;
    border-radius: 50%;
    background-color: var(--primary-blue);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.header__menu-anchor {
    color: var(--text-blue);
    text-decoration: none;
}

.header__menu--active {
    color: var(--text-red);
}

.header__dropdown {
    max-width: 12rem;
    width: 70vw;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--primary-blue);
    position: absolute;
    top: 7.3rem;
    right: 50%;
    translate: 50% 0;
    color: var(--text-red);
}

.header__dropdown--hidden {
    visibility: hidden;
}

.header__menu-option {
    text-align: center;
}

/* Main styles */
.main {
    grid-row: 2/3;
    width: 100%;
    padding: 2rem 1rem 3rem;
    background:
        radial-gradient(circle at top left, var(--primary-blue) 0%, transparent 15%),
        radial-gradient(circle at center right, var(--primary-blue) 0%, transparent 15%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 3rem;
}

.main__access {
    display: block;
    margin-inline: auto;
    padding: 1rem 1.25rem;
    border-radius: 10px;
    background-color: var(--secondary-blue);
    font-size: 1rem;
    color: var(--text-blue);
    text-align: center;
    text-decoration: none;
    transition: scale 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.main__access:hover {
    scale: 1.02;
    filter: brightness(1.2);
}

/* Profile styles */
.profile {
    max-width: fit-content;
    width: 100%;
    margin-inline: auto;
    padding: 0.75rem;
    border: 1px solid var(--text-red-light);
    border-radius: 10px;
    background-image:
        linear-gradient(0deg, var(--primary-blue) 0%, transparent 75%),
        linear-gradient(180deg, var(--primary-blue) 0%, transparent 75%);
    position: relative;
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: var(--text-blue-light);
}

.profile__section {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.profile__section--top {
    justify-content: flex-start;
}

.profile__figure {
    max-width: 4rem;
    aspect-ratio: 1;
    width: 100%;
    border: 2px solid var(--text-blue-light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__image {
    min-width: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile__name {
    max-width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile__achivements {
    max-width: 10rem;
    margin-top: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.profile__achivement {
    aspect-ratio: 1;
    width: 1.5rem;
    padding: 0.1rem;
    border-radius: 5px;
    border: 1px solid gray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: scale 0.2s ease-in-out, rotate 0.2s ease-in-out;
    overflow: hidden;
}

.profile__achivement::after {
    content: "";
    background-color: gray;
    position: absolute;
    inset: 0;
    opacity: 0.7;
}

.profile__achivement:hover {
    scale: 1.1;
    rotate: 4deg;
}

.profile__achivement--unlock {
    border-color: var(--text-red-light);
}

.profile__achivement--unlock::after {
    background-color: var(--primary-blue);
}

.profile__points {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

/* Media queries */
/* var(--small-screen) */
@media (min-width: 22rem) {
    .header {
        flex-flow: row nowrap;
        gap: 1rem;
    }

    .header__dropdown {
        width: 50%;
        top: 5rem;
        right: 1rem;
        translate: 0;
    }

    .main__access {
        font-size: 1.25rem;
    }
}

/* var(--medium-screen) */
@media (min-width: 42rem) {
    .header__sections {
        justify-content: center;
        gap: 1rem;
    }

    .header__section-p {
        display: block;
    }
}

/* var(--large-screen) */
@media (min-width: 66rem) {
    .main {
        gap: 2rem;
    }
}