/* Page styles */
.page {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Header styles */
.header {
    width: 100%;
    padding: 1.2rem 1.5rem;
    background-color: var(--background-secondary);
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/*--Sections--*/
.header__sections {
    flex: 3;
    height: 3.5rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.2rem;
}

.header__section {
    height: 100%;
    padding-inline: 1rem;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    color: var(--text-blue);
    text-decoration: none;
}

.header__section:hover:not(.header__section--active) {
    background-color: var(--background-primary);
}

.header__section--active {
    border-top: 1px solid var(--text-red);
    border-bottom: 1px solid var(--text-red);
}

.header__section-p {
    display: none;
}

/*--Menus--*/
.header__menus {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}

.header__menu, .header__menu-anchor {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu::before, .header__menu-anchor::before {
    content: "";
    width: 150%;
    height: 150%;
    border-radius: 50%;
    background-color: var(--primary-blue);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.header__menu-anchor {
    color: var(--text-blue);
    text-decoration: none;
}

.header__menu--active {
    color: var(--text-red);
}

.header__menu-dropdown {
    max-width: 12rem;
    width: 50%;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--primary-blue);
    position: fixed;
    top: 5rem;
    right: 1rem;
}

.header__menu-dropdown--hidden {
    visibility: hidden;
}

.header__menu-option {
    text-align: center;
}

/* Main styles */
.main {
    width: 100%;
    padding: 2rem 1rem 3rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 3rem;
}

.main__access {
    display: block;
    margin-inline: auto;
    padding: 1rem 1.25rem;
    border-radius: 10px;
    background-color: var(--secondary-blue);
    font-size: 1.25rem;
    color: var(--text-blue);
    text-decoration: none;
    transition: scale 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.main__access:hover {
    scale: 1.02;
    filter: brightness(1.2);
}

/* Profile styles */
.profile {
    max-width: fit-content;
    width: 100%;
    margin-inline: auto;
    padding: 1rem 0.5rem;
    border: 1px solid var(--text-blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.profile__figure {
    width: 6rem;
    height: 6rem;
    padding: 0.5rem;
    border: 2px solid var(--text-blue);
    border-radius: 50%;
}

.profile__image {
    max-width: 100%;
    min-width: 0;
    border-radius: 50%;
}

/* var(--medium-screen) */
@media (min-width: 42rem) {
    .header__sections {
        justify-content: center;
        gap: 1rem;
    }

    .header__section-p {
        display: block;
    }
}