/* Modal and backdrop styles */
.modal {
    --transition-duration: 0.4s;
    max-width: min(70dvw, 24rem);
    width: fit-content;
    padding: 0;
    border: 1px solid var(--text-blue);
    border-radius: 10px;
    background-color: var(--primary-blue);
    position: fixed;
    top: 35%;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transition: visibility var(--transition-duration) ease-in-out,
        top var(--transition-duration) ease-in-out,
        opacity var(--transition-duration) ease-in-out,
        display var(--transition-duration) allow-discrete;
}

.modal::backdrop {
    cursor: alias;
    background-color: transparent;
    transition: background-color var(--transition-duration) ease-in-out,
        backdrop-filter var(--transition-duration) allow-discrete,
        display var(--transition-duration) allow-discrete;
}

.modal[open] {
    top: -15%;
    opacity: 1;
    visibility: visible;

    @starting-style {
        top: 35%;
        opacity: 0;
    }
}

.modal[open]::backdrop {
    background-color: #00000080;
    backdrop-filter: blur(5px);

    @starting-style {
        background-color: transparent;
        backdrop-filter: blur(0);
    }
}

.modal--backdrop-useless::backdrop {
    cursor: default;
}

.modal__content {
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    color: var(--text-blue-light);
}

.modal__content--separate {
    gap: 2rem;
}

/* Modal elemetns styles */
.modal__title {
    font-size: 1.35rem;
    text-align: center;
    text-transform: uppercase;
}

.modal__options {
    width: 100%;
    margin-top: 0.6rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem 1rem;
}

.modal__options--vertical {
    flex-flow: column nowrap;
    gap: 1rem;
}

.modal__option,
.modal__tooltip {
    padding: 0.75rem 1rem;
    border: 1px solid var(--text-blue);
    border-radius: 10px;
    background-color: transparent;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-blue-light);
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
}

.modal__option:hover,
.modal__tooltip:hover {
    scale: 0.97;
}

.modal__option::before,
.modal__tooltip::before {
    content: "";
    border-radius: 10px;
    background-color: var(--secondary-blue);
    position: absolute;
    z-index: -1;
    inset: 0;
    transition: opacity 0.2s ease-in-out;
}

.modal__option:hover::before,
.modal__tooltip:hover::before {
    opacity: 0.4;
}

.modal__tooltip-text {
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
    translate: -50% 0;
    font-size: 1rem;
    font-weight: normal;
    transition: opacity 0.3s ease-in-out, translate 0.3s ease-in-out;
}

.modal__tooltip:hover .modal__tooltip-text:not(.modal__tooltip-text--static),
.modal__tooltip-text--static {
    translate: -50% -140%;
    opacity: 1;
}

/* Media queries */
/* var(--small-screen) */
@media (min-width: 22rem) {
    .modal__content {
        padding: 1rem 2rem;
    }
}